.button {
  width: 100%;
  padding: 10px 20px;
  background-color: #ffce22;
  border-radius: 4px;
  border: none;
  margin: 22px 0;
  cursor: pointer;
  transition: all 150ms;
}
.button:hover {
  background-color: #ffd84d;
}
